div#slideSection, div#update, div#about {
display: inline-block;
height: 91vh;
width: 100%;
}

#imageSlide, #update, #about {
height: 100%;
vertical-align: top;
}

#imageSlide{
  max-width: 100%;
  height: 91vh;
}

#update{
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

#about {
  padding: 50px;
}

.centered-and-cropped { object-fit: cover }
